			#div1{
				border-style: dotted;
				border-color: #8399CA;
				margin: 15%;
				padding: 12px;
			}
			#product{
				font-family: 'Lora', serif;
				font-size: 14pt;
				text-align: left;
				margin-left: 20px;
				margin-right: 20px;
				text-align: center;
			}
			#price{
				margin-top: 25px;
				margin-bottom: 25px;
				font-family: 'Lora', serif;;
				font-size: 100pt;
				text-align: center;
			}
			body{
				background-color: #8399CA;
			}
			img{
				height: 70%;
				width: 50%;
				margin-left: 235px;
				border: 1px solid #ddd;
				border-radius: 4px;
				padding: 5px;
			}
			h4{
				font-family: 'Lora', serif;;
				font-size: 54pt;
				text-align: center;
				margin-top: 25px;
				margin-bottom: 25px;
			}
			button {
				border: none;
				border-radius: 6px;
				outline: 0;
				display: inline-block;
				padding: 12px;
				color: whitesmoke;
				background-color: #B1C4EF;
				text-align: center;
				cursor: pointer;
				width: 99%;
				font-size: 19px;
				font-family: 'Lora', serif;
		}